@page "/admin/{linkType}"
@using Profile.Client.Components
@using Profile.Client.Components.Admin
@using Profile.Client.Components.Prfl
@using Profile.Shared.Models
@layout AppLayout
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits IndexBase

<Title Value="@linkType" />


<AdminHeader />


@if(linkType.ToUpper() == "ACCOUNT") {
    @if(Accounts == null) {
        <div>
            <Loading />
        </div>
    }
    else if(Accounts.Length == 0) {
        <div>
            <NoLink LinkType="account" />
        </div>
    }
    else {
      @foreach(var account in Accounts) {
        var userLink = account.Application.ApplicationUserLink + account.Username;
        var editLink = $"admin/account/{account.AccountId}/edit";
        <div>
            <AccountAdminCard BackgroundColor="@account.Application.BackgroundColor" 
                            ApplicationLink="@account.Application.ApplicationLink" 
                            LogoLink="@account.Application.LogoLink" 
                            TextColor="@account.Application.TextColor" 
                            Username="@account.Username" 
                            UserLink="@userLink"
                            EditLink="@editLink"
                            IsFavorite="@account.IsFavorite"
                            Remove="(() => DeleteLink(account.AccountId, linkType, account.Username))"/>
        </div>
        }  
    }
} 

else if(linkType.ToUpper() == "LINK") {
    @if(Links == null) {
        <div>
            <Loading />
        </div>
    }
    else if(Links.Length == 0) {
        <div>
            <NoLink LinkType="link" />
        </div>
    }
    else {
      @foreach(var link in Links) {
        var modalId = GetModalId();
        var editLink = $"admin/link/{link.LinkId}/edit";
        <div>
            <LinkAdminCard ModalId="@modalId" 
                      Link="@link.Url" 
                      Name="@link.Name" 
                      Description="@link.Description" 
                      IconUrl="/assets/icons/link.svg"
                      IsFavorite="@link.IsFavorite" 
                      EditLink="@editLink"
                      RemoveMenuName="Delete"
                      Remove="(() => DeleteLink(link.LinkId, linkType, link.Name))"/>
        </div> 
      }
    }
}

else if(linkType.ToUpper() == "PROJECT") {
    @if(Projects == null) {
        <div>
            <Loading />
        </div>
    }
    else if(Projects.Length == 0) {
        <div>
            <NoLink LinkType="project" />
        </div>
    }
    else {
      @foreach(var project in Projects) {
            var modalId = GetModalId();
            var editLink = $"admin/project/{project.ProjectId}/edit";
            <div>
                <LinkAdminCard   ModalId="@modalId" 
                            Link="@project.Url" 
                            Name="@project.Name" 
                            Description="@project.Description" 
                            IconUrl="/assets/icons/kanban.svg" 
                            IsFavorite="@project.IsFavorite" 
                            EditLink="@editLink"
                            RemoveMenuName="Delete"
                            Remove="(() => DeleteLink(project.ProjectId, linkType, project.Name))"/>
            </div>
        }
    }
}

else if(linkType.ToUpper() == "VIDEO") {
    @if(Videos == null) {
        <div>
            <Loading />
        </div>
    }
    else if(Videos.Length == 0) {
        <div>
            <NoLink LinkType="video" />
        </div>
    }
    else {
      @foreach(var video in Videos) {
        var modalId = GetModalId();
        var editLink = $"admin/video/{video.VideoId}/edit";
        <div>
            <LinkAdminCard ModalId="@modalId" 
                      Link="@video.Url" 
                      Name="@video.Name" 
                      Description="@video.Description" 
                      IconUrl="/assets/icons/video.svg"
                      IsFavorite="@video.IsFavorite"
                      EditLink="@editLink" 
                      RemoveMenuName="Delete"
                      Remove="(() => DeleteLink(video.VideoId, linkType, video.Name))"/>
        </div>
      }
    }
}

else if(linkType.ToUpper() == "SCHEDULE") {
    @if(Schedules == null) {
        <div>
            <Loading />
        </div>
    }
    else if(Schedules.Length == 0) {
        <div>
            <NoLink LinkType="schedule" />
        </div>
    }
    else {
      @foreach(var schedule in Schedules) {
        var modalId = GetModalId();
        var editLink = $"admin/schedule/{schedule.ScheduleId}/edit";
        <div>
            <ScheduleAdminCard ModalId="@modalId" 
                      Link="@schedule.Url" 
                      Name="@schedule.Name" 
                      Description="@schedule.Description" 
                      Location="@schedule.Location"
                      Weekday="@schedule.Weekday"
                      Time="@schedule.Time"
                      IconUrl="/assets/icons/calendar2.svg"
                      IsFavorite="@schedule.IsFavorite"
                      EditLink="@editLink" 
                      RemoveMenuName="Delete"
                      Remove="(() => DeleteLink(schedule.ScheduleId, linkType, schedule.Name))"/>
        </div>
      }
    }
}


else if(linkType.ToUpper() == "RECIPE" || linkType.ToUpper() == "COCKTAIL") {
    @if(Recipes == null) {
        <div>
            <Loading />
        </div>
    }
    else if(Recipes.Length == 0) {
        <div>
            <NoLink LinkType="recipes" />
        </div>
    }
    else {
      @foreach(var recipe in Recipes) {
        var modalId = GetModalId();
        var editLink = $"admin/recipe/{recipe.RecipeId}/edit";
        <div>
            <RecipeAdminCard ModalId="@modalId" Recipe="@recipe" 
                            Delete="(() => DeleteLink(recipe.RecipeId, linkType, recipe.Name))" 
                            Ingredients="@Ingredients"
                            GetIngredients="(() => GetIngredients(recipe.RecipeId))"/>
        </div>
      }
    }
}

else if(linkType.ToUpper() == "PRODUCT") {
    @if(Products == null) {
        <div>
            <Loading />
        </div>
    }
    else if(Products.Length == 0) {
        <div>
            <NoLink LinkType="products" />
        </div>
    }
    else {
        
        if(!UserHasPhoneNumber) {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                You customers won't be able to see <strong>Order Button</strong> unless you add your phone number.
                <br />
                <a href="https://localhost:5001/Identity/Account/Manage"><strong>Click here</strong></a> to add your phone number.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
            
        
        
        @foreach(var product in Products) {
            string headingId = $"Heading{Count.ToString()}";
            string accordionTarget = $"Collapse{Count.ToString()}";
            string buttonId = $"Button{Count.ToString()}";
            Count++;
          <div class="accordion" id="accordionExample">
              <ProductAdminCard Product="@product" AccordionTarget="@accordionTarget" HeadingId="@headingId" ButtonId="@buttonId" Remove="(() => DeleteLink(product.ProductId, linkType, product.Name))"/>
          </div>
        }
    }
}




else if(linkType.ToUpper() == "FAVORITE") {
    @if(Favorites == null) {
        <div>
            <Loading />
        </div>
    }
    else if(Favorites.Count() == 0) {
      <div>
            <NoLink LinkType="favorite" />
        </div>
    }
    else {
      @foreach(var favorite in Favorites) {
        var modalId = GetModalId();

        if(favorite.Type == LinkType.Account) {
          SetAccount(favorite.LinkId);
          var userLink = Account.Application.ApplicationUserLink + Account.Username;
          var editLink = $"admin/account/{Account.AccountId}/edit";

          <div>
            <AccountAdminCard   BackgroundColor="@Account.Application.BackgroundColor" 
                            ApplicationLink="@Account.Application.ApplicationLink" 
                            LogoLink="@Account.Application.LogoLink" 
                            TextColor="@Account.Application.TextColor" 
                            IsFavorite="@true"
                            Username="@Account.Username" 
                            UserLink="@userLink"
                            EditLink="@editLink"
                            Remove="(() => DeleteLink(favorite.FavoriteId, linkType, favorite.Name))"
                            OnClickUpCallback="(() => OnClickUpAsync(favorite.FavoriteId, linkType))"
                            OnClickDownCallback="(() => OnClickDownAsync(favorite.FavoriteId, linkType))"/>
          </div>
        }

        else {
            
           
            var editLink = $"admin/{Enum.GetName(typeof(LinkType), favorite.Type).ToLower()}/{favorite.LinkId}/edit";
          <div>
            <LinkAdminCard Link="@favorite.Url" 
                      Name="@favorite.Name" 
                      Description="@favorite.Description" 
                      IconUrl="@favorite.IconUrl" 
                      IsFavorite="@true"
                      RemoveMenuName="Remove Favorite"
                      EditLink="@editLink"
                      Remove="(() => DeleteLink(favorite.FavoriteId, linkType, favorite.Name))"
                      OnClickUpCallback="(() => OnClickUpAsync(favorite.FavoriteId, linkType))"
                      OnClickDownCallback="(() => OnClickDownAsync(favorite.FavoriteId, linkType))"/>
          </div>
        }

      }
    }
}


