@using Profile.Shared.Models


<EditForm Model="@Product" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col">
            <div class="form-group mb-3">
                <label class="control-label">Product Category</label>
                <InputText class="form-control" @bind-Value="@Product.Category" />
                <ValidationMessage For="@(() => Product.Category)" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Product No</label>
                <InputText class="form-control" @bind-Value="@Product.ProductNo" />
                <ValidationMessage For="@(() => Product.ProductNo)" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Name</label>
                <InputText class="form-control" @bind-Value="@Product.Name" />
                <ValidationMessage For="@(() => Product.Name)" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Description</label>
                <InputTextArea class="form-control" @bind-Value="@Product.Description" />
                <ValidationMessage For="@(() => Product.Description)" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Image URL</label>
                <InputText class="form-control" @bind-Value="@Product.ImageUrl" />
                <ValidationMessage For="@(() => Product.ImageUrl)" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Product URL</label>
                <InputText class="form-control" @bind-Value="@Product.Url" placeholder="https://example.com/Product/123"/>
                <ValidationMessage For="@(() => Product.Url)" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Price</label>
                <InputNumber class="form-control" @bind-Value="@Product.Price" />
                <ValidationMessage For="@(() => Product.Price)" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Currency</label>
                <select class ="form-control" @bind="@Product.Currency">
                <option value="@Currency.LBP">LBP</option>     
                <option value="@Currency.USD">USD</option> 
                <option value="@Currency.EUR">EUR</option> 
            </select>
            <ValidationMessage For="@(() => Product.Currency)" />
            </div>
            <div class="form-check form-switch mb-3">
                <InputCheckbox class="form-check-input" type="checkbox" id="flexCheckDefault" @bind-Value="@Product.IsFavorite" />
                <label class="form-check-label" for="flexCheckDefault">Add to favorites</label>
                <ValidationMessage For="@(() => Product.IsFavorite)" />
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>

</EditForm>



@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Create";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
