@using Profile.Shared.Models
@inject IJSRuntime JSRuntime
@inherits Profile.Components.HtmlHelper

<div class="accordion-item mb-3">
  <h2 class="accordion-header shadow bg-white rounded" id="@HeadingId">
    <div class="row rounded g-0">
        <button id="@ButtonId" class="accordion-button collapsed border-1 border-0 rounded" type="button" @onclick="(() => CheckArea(ButtonId))" data-bs-toggle="collapse" data-bs-target="#@AccordionTarget" aria-expanded="false" aria-controls="@HeadingId">
          <div class="rounded-circle me-2 border border-2 border-secondary @display"><img src="@Product.ImageUrl" class="rounded-circle" width="30px" height="30px"/></div>
          <div class="col text-start">@Product.Name</div>
          <div class="col text-end @display">
            @if(Product.Price % 1 > 0.00M) {
                <span class="badge bg-@GetPriceBadgeColor(Product.Currency)">@Product.Price @Product.Currency</span>
              }
              else {
                <span class="badge bg-@GetPriceBadgeColor(Product.Currency)">@Convert.ToInt32(Product.Price) @Product.Currency</span>
              } 
          </div>
          <div class="col text-end me-1">
            @if(Product.IsFavorite) {
              <img class="float-right" src="/assets/icons/star-fill.svg" height="20px" width="20px"/>     
            }
          </div>    
        </button>
    </div>
  </h2>
  <div id="@AccordionTarget" class="accordion-collapse collapse border-0 mt-2" aria-labelledby="@HeadingId" data-bs-parent="#accordionExample">
      <div class="col">
        <div class="card border-0 shadow rounded" style="max-width: 540px;">
          <div class="row g-0 mb-2">
            <div class="col-12 p-2 text-center">
              <img id="@Product.ProductId" class="rounded border border-1" src="@Product.ImageUrl" alt="@Product.Name" width="100%" height="auto" style="max-height: @GetImageHeight(Product.ProductId);">
            </div>
            <div class="col-12">
              <div class="card-body p-2">
                <div class="row my-3">
                  <div class="col"><h5 class="card-title">@Product.Name</h5></div>
                  <div class="col text-end"><span class="badge bg-light text-dark">@Product.Category</span></div>
                </div>
                <div class="row">
                  <Modal ModalId="@ModalId" LaunchButtonText="Info" Title="@Product.Name" Description="@Product.Description"/>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-white p-2">
            <div class="row g-0">
              <div class="col text-start p-2">
                <p class="card-text">
                  <h6>
                    @if(Product.Price % 1 > 0.00M) {
                      <span class="badge bg-@GetPriceBadgeColor(Product.Currency)">@Product.Price @Product.Currency</span>
                    }
                    else {
                      <span class="badge bg-@GetPriceBadgeColor(Product.Currency)">@Convert.ToInt32(Product.Price) @Product.Currency</span>
                    }
                  </h6>
                </p>
              </div>
              <div class="col text-end">
                @if(!String.IsNullOrEmpty(PhoneNumber)) {
                  <a type="button" class="btn btn-outline-primary" target="_blank" href='@($"https://wa.me/{PhoneNumber}?text=https://prfl.ga/product/{@Product.ProductId}")'>Order</a>
                }
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

  
@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public string ModalId { get; set; }
    [Parameter] public string AccordionTarget { get; set; }
    [Parameter] public string HeadingId { get; set; }
    [Parameter] public string ButtonId { get; set; }
    [Parameter] public string PhoneNumber { get; set; }
    private bool IsExpanded = false;
    private string MaxHeight { get; set; }
    private string display => IsExpanded ? "d-none" : "";

    private string GetPriceBadgeColor(Currency currency) {
      if(currency == Currency.LBP)
        return "primary";
      else if(currency == Currency.EUR)
        return "purple";
      else
        return "success";
    }

    private async void CheckArea(string id) {
        var test = await JSRuntime.InvokeAsync<bool>("CheckArea", id);
        if(test == true) {
          IsExpanded = false;
        }
        else {
          IsExpanded = true;
        }
    }

    private async Task<object> GetImageHeight(string id) {
        return await JSRuntime.InvokeAsync<string>("getImageHeight", id);
    }

}